@{
    ViewData["Title"] = "Contato";
}
<h2>Contato</h2>

<address>
    Jaragua - GO <br />
   
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">henriquee.rodrigues@gmail.com</a><br />
</address>
