<h1> Aplicação em desenvolvimento</h1>
<h4>Objetivo facilitar os registros de um secretário</h4>
<h5>Se esse é seu primeiro acesso, você necessita vincular sua conta a uma congregação</h5>
<h5>Vá no menu CONGREGAÇÃO e clique em Vincular a uma congregação,
    se sua congregação ainda não existe, primeiro você necessitá criar uma congregação e depois se vincular a ela.</h5>

